<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-#00acc1">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Task Number
                                </th>
                                <th>
                                    Task
                                </th>
                                <th>
                                    Due By
                                </th>
                                <th>
                                    Status
                                </th>

                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Submit Video Interview
                                    </td>
                                    <td>
                                        22/09/22
                                    </td>
                                    <td>
                                        Incomplete
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        Read Ethics and Culture
                                    </td>
                                    <td>
                                        22/09/21
                                    </td>
                                    <td>
                                        Completed
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        Psychometric Assessment
                                    </td>
                                    <td>
                                        16/09/21
                                    </td>
                                    <td>
                                        Approved
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        Complete Health and Safety tutorial
                                    </td>
                                    <td>
                                        22/09/21
                                    </td>
                                    <td>
                                        Incomplete
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        Medical Assessment
                                    </td>
                                    <td>
                                        17/09/21
                                    </td>
                                    <td>
                                        Completed + Approved
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

