<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-info">
                        <h4 class="card-title mt-0"> Applicants</h4>
                        <p class="card-category"> There are currently {{totalNumberOfCandidates}} applicants.</p>
                    </div>
                    <mat-form-field>
                        <input (keyup)="applyFilter($event.target['value'])" matInput placeholder="Filter">
                    </mat-form-field>
                    <div class="card-body">
                        <input type="checkbox" value="false" [(ngModel)]="isCvChecked"> CV
                        uploaded
                        <input type="checkbox" value="false" [(ngModel)]="isVideoChecked">
                        Video
                        uploaded
                        <div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover" >
                                        <thead class="" >
                                        <th>
                                            First Name
                                        </th>
                                        <th>
                                            Last Name
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                        <th>
                                            Branch
                                        </th>
                                        <th>
                                            Files Uploaded
                                        </th>
                                        <th>
                                            Preview Files
                                        </th>
                                        <th>
                                            User Details
                                        </th>

                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let candidate of dataSource.filteredData">
                                            <ng-container *ngIf="candidate.hasInterviewVideo == isVideoChecked &&
                                            candidate.hasUpdatedCv == isCvChecked">
                                                <td>
                                                    {{candidate.first_name}}
                                                </td>
                                                <td>
                                                    {{candidate.last_name}}
                                                </td>
                                                <td>
                                                    {{candidate.email}}
                                                </td>
                                                <td>
                                                    {{candidate.role}}
                                                </td>
                                                <td>
                                                    {{candidate.branch}}
                                                </td>
                                                <div *ngIf="candidate.hasInterviewVideo">
                                                    <td class="td-actions">
                                                        <a
                                                                matTooltip="Video uploaded" [matTooltipPosition]="'above'"
                                                                class="btn btn-primary btn-link btn-sm btn-just-icon" >
                                                            <i class="material-icons">check</i>
                                                        </a>
                                                    </td>
                                                </div>

                                                <div *ngIf="!candidate.hasInterviewVideo">
                                                    <td class="td-actions">
                                                        <a matTooltip="Video not uploaded"
                                                           [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" >
                                                            <i class="material-icons">close</i>
                                                        </a>
                                                    </td>
                                                </div>

                                                <div *ngIf="candidate.hasUpdatedCv">
                                                    <td class="td-actions">
                                                        <a matTooltip="CV uploaded"
                                                           [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" >
                                                            <i class="material-icons">check</i>
                                                        </a>
                                                    </td>
                                                </div>
                                                <div *ngIf="!candidate.hasUpdatedCv">
                                                    <td class="td-actions">
                                                        <a matTooltip="CV not uploaded"
                                                           [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon" >
                                                            <i class="material-icons">close</i>
                                                        </a>
                                                    </td>
                                                </div>
                                                <td>
                                                    <a mat-raised-button type="button" href="http://localhost:4200/#/icons"
                                                       matTooltip="Video uploaded" [matTooltipPosition]="'above'"
                                                       class="btn btn-primary btn-link btn-sm btn-just-icon" >
                                                        <i class="material-icons">preview</i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a mat-raised-button type="button"
                                                       href="http://localhost:4200/#/candidate-details/{{candidate._id}}"
                                                       matTooltip="View Profile" [matTooltipPosition]="'above'"
                                                       class="btn btn-primary btn-link btn-sm btn-just-icon" >
                                                        <i class="material-icons">portrait</i>
                                                    </a>
                                                </td>
                                            </ng-container>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
