<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-#00acc1">
                <h4 class="card-title">Dell Info and Ethics</h4>
                <p class="card-category">How We Win:</p>
            </div>
            <div class="card-body">
                <div id="typography">
                    <div class="card-title">
                        <h2></h2>
                    </div>
                    <div class="row">
                        <div class="tim-typo">
                            <h2>We believe our culture and values are differentiators </h2>
                            <h3>Our culture and values reflect what’s most important to us as a company and guide our decisions and actions:</h3>
                        </div>
                        <div class="tim-typo">
                            <h3><b>Customers</b>: We believe our customer relationships are the ultimate differentiator and the foundation for our success.</h3>
                        </div>
                        <div class="tim-typo">
                            <h3><b>Winning Together</b>: We believe in and value our people. We perform better, are smarter, and have more fun working as a team than as individuals </h3>
                        </div>
                        <div class="tim-typo">
                            <h3><b>Innovation</b>: We believe our ability to innovate and cultivate breakthrough thinking is an engine for growth, success, and progress.</h3>
                        </div>
                        <div class="tim-typo">
                            <h3><b>Results</b>: We believe in being accountable to an exceptional standard of excellence and performance</h3>

                        </div>
                        <div class="tim-typo">
                            <h3><b>Integrity</b>: We believe integrity must always govern our fierce desire to win.</h3>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
