<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-info">
                <h4 class="card-title">  Users Application</h4>
                <p class="card-category">This file was uploaded 2 hours ago!
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <!--                          <video muted id="video1"  width="200" height="200" class="img" controls poster="assets/img/dell_logo.svg">-->
                            <!--                              <source src="https://www.youtube.com/watch?v=FIVGUNhliTY" type='video/mp4' />-->
                            <!--                          </video>-->
                            <iframe width="460" height="315" src="https://www.youtube.com/embed/FIVGUNhliTY?autoplay=1"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="embed-responsive">
                            <h2 href="assets/SampleApp.jpeg"> Click
                                <a href="assets/job_spec.docx" target="_blank">
                                    here
                                </a>
                                to view candidates' CV!
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
